body{
margin:0;
font-family:'Inter',sans-serif;
background:#0f1115;
color:white;
}

header{
text-align:center;
padding:25px;
font-size:24px;
font-weight:600;
letter-spacing:1px;
}

.ambulance-container{
padding:20px;
max-width:1400px;
margin:auto;
}

/* CARD */

.ambulance-card{

display:flex;
align-items:center;
justify-content:space-between;

background:#1a1d24;

padding:22px;
margin-bottom:20px;

border-radius:14px;

border:1px solid rgba(255,255,255,0.05);

transition:0.3s;

}

.ambulance-card:hover{

transform:translateY(-4px);
box-shadow:0 10px 30px rgba(0,0,0,0.5);

}

/* INFO */

.ambulance-info{

display:flex;
align-items:center;
gap:15px;
width:240px;

}

.ambulance-icon{
font-size:40px;
}

.info-text h3{
margin:0;
font-size:16px;
}

.info-text p{
margin:3px 0;
font-size:13px;
color:#aaa;
}

/* STATUS COLORS */

.status{
padding:4px 8px;
border-radius:6px;
font-size:12px;
font-weight:600;
}

.critical{
background:#ff3b3b;
}

.moderate{
background:#ff9d00;
}

.stable{
background:#1dd75b;
}

/* ROUTE */

.route{

flex:1;
display:flex;
align-items:center;
position:relative;
margin:0 30px;

}

/* full grey route */

.progress-line{

position:absolute;
height:5px;
background:#2b2f38;
width:100%;
border-radius:3px;

}

/* ambulance progress */

.progress{

position:absolute;
height:5px;
background:#3b82f6;
border-radius:3px;
transition:0.5s ease;

}

/* signals container */

.signals{

display:flex;
justify-content:space-between;
align-items:center;
width:100%;
position:relative;
z-index:2;

}

/* signal block */

.signal-block{

display:flex;
flex-direction:column;
align-items:center;

}

.signal{

font-size:20px;

}

.signal-eta{

font-size:11px;
margin-bottom:4px;
color:#aaa;

}

/* hospital */

.hospital{

font-size:28px;
margin-left:10px;

}

/* ETA badge */

.eta{
background:black;
color:#00ff9d;
padding:7px 12px;
border-radius:6px;
font-size:13px;
font-weight:600;
}
/* signal status light */

.signal-light{

width:10px;
height:10px;
border-radius:50%;
margin-top:4px;

}

.red{
background:#ff3b3b;
box-shadow:0 0 8px #ff3b3b;
}

.yellow{
background:#ffc400;
box-shadow:0 0 8px #ffc400;
}

.green{
background:#1dd75b;
box-shadow:0 0 8px #1dd75b;
}