body{
margin:0;
font-family:'Inter',sans-serif;
background:#0f1115;
color:white;
}

.container{
display:flex;
height:100vh;
}

/* sidebar */

.sidebar{
width:320px;
background:#161a22;
padding:20px;
border-right:1px solid rgba(255,255,255,0.05);
}

.ambulance-card{
background:#1f2430;
padding:15px;
border-radius:12px;
text-align:left;
}

.ambulance-img{
width:70px;
display:block;
margin:auto;
margin-bottom:10px;
}

.info-row{
margin:8px 0;
font-size:14px;
color:#bbb;
}

.info-row span{
color:white;
font-weight:600;
}

/* map */

#map{
flex:1;
}